<% book.book_comments.each do |book_comment|%>
<tr>
  <td>
    <%= attachment_image_tag book_comment.user, :profile_image, :fill, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %><br>
    <%= link_to book_comment.user.name, user_path(book_comment.user) %>
  </td>
  <td>
    <%= book_comment.comment %>
  </td>
  <td>
    <% if book_comment.user == current_user %>
    <%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-danger", remote:true %>
    <% end %>
  </td>
</tr>
<% end %>