<%= form_with model: @group, url: group_join_check_path(@group), local: true do |f| %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "参加する", class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>