/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 8px 16px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.field, .actions {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-controll {
  width: 100%;
  padding: 6px 12px;
}

.notice {
  color: green;
}

#error-massage {
  color: red;
}

ul {
  padding-left: 40px;
}

.title-border {
  border-bottom: 2px solid #CCCCCC;
}

.chat-start {
  margin-left: 20px;
}

.chat-message {
  margin-left: 20em;
}

.chat-make {
  display: inline-flex;
}

.btn_create_group {
  background-color: #33FFFF;
  color: #FFFFFF;
}